<footer class="footer">
    <img class="footer-img" src="/img/logo/logo.png" alt="Logo CINEMAS">
    <h4>CINEMAS Mar del Plata</h4>
    <p>Disfruta de las mejores proyecciones solicitando tu entrada desde nuestra web. Tu cine de confianza.</p>
    <p class="copyright">Copyright CINEMAS · 2025. Todos los derechos reservados.</p>
    <p>Repositorio del <a href="https://github.com/Tomiicosta/ProyectoFinalCineFront" class="link-repositorio" target="_blank"
                rel="noopener noreferrer">Proyecto</a>.</p>
</footer>