.footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    box-shadow: 0 -20px 40px 10px rgba(0, 0, 0, 0.7);
  }

.footer-img {
    height: 50px;
}