<!-- <main>
    <section class="ticket-info font-open-sans">
        <h1 class="info"><span class="color">REALIZA</span> TU <span class="color">OPERACIÓN</span></h1>
        <h1 class="step">PASO <span class="step-num">4</span></h1>
    </section>

    <section class="ticket-section font-inter">
        
        <div *ngIf="compraInfo">
            <h3>Resumen de la Compra</h3>
            <p>Producto: {{ compraInfo.nombre }}</p>
            <hr>
            
            <ng-container *ngIf="usuarioLogueado; else mensajeNoLogueado">
                <button 
                    (click)="iniciarPago()" 
                    class="btn btn-primary"
                    [disabled]="!compraInfo.preferenceId">
                    Ir a Pagar
                </button>
                <small class="form-text text-muted">Serás redirigido al entorno seguro de Mercado Pago.</small>
            </ng-container>
        
            <ng-template #mensajeNoLogueado>
                <div class="alert alert-warning" role="alert">
                    <b>Debes iniciar sesión</b> para continuar con la compra.
                </div>
                <button (click)="redirigirALogin()" class="btn btn-success">
                    Iniciar Sesión
                </button>
            </ng-template>
        </div>
        
    </section>

</main> -->


<main>
    <!-- Panel Principal -->
    <section class="ticket-info font-open-sans">
        <h1 class="info">
            <span class="color">REALIZA</span> TU <span class="color">OPERACIÓN</span>
        </h1>
        <h1 class="step">PASO <span class="step-num">4</span></h1>
    </section>


    <section class="ticket-section font-inter">
        <!-- Panel de Información (igual al del paso 3) -->
        @if (peliculaSeleccionada && funcionSeleccionada) {
        <div class="div-info">
            <h4 class="info-title">Detalles del Ticket</h4>

            <div class="info-peli">
                <h3 class="title-peli" title="{{ peliculaSeleccionada.title }}">
                    {{ peliculaSeleccionada.title }}
                </h3>
                <p class="funcion-peli"><b>{{ formatearFecha(funcionSeleccionada.date) }}</b></p>
                <p class="funcion-peli">a las <b>{{ formatearHora(funcionSeleccionada.time) }} hs</b></p>
            </div>

            <div class="div-butacas">
                <p><b>Asientos Seleccionados:</b></p>
                <p class="num-butacas"><b>{{ compra?.quantity }}</b></p>

                <p><b>Butacas:</b></p>
                <p id="list-butacas">{{ compra?.seats }}</p>
            </div>

            <button class="btn-reiniciar" (click)="volverASeleccionButacas()">
                Volver a Seleccionar
            </button>
        </div>
        }


        <!-- Panel de Pago -->
        <div class="div-operacion">
            <h3 class="operacion-title font-open-sans"><span> FINALIZA TU OPERACIÓN </span></h3>
            <p class="operacion-desc">
                Para completar la operación revise todos los datos de su compra, tanto de la pelicula, dia, horario y asientos seleccionados. Luego presione el botón FINALIZAR.
            </p>

            <div class="resumen-compra">
                <p><b>Película:</b> {{ peliculaSeleccionada?.title }}</p>
                <p><b>Fecha:</b> {{ formatearFecha(funcionSeleccionada!.date) }}</p>
                <p><b>Hora:</b> {{ formatearHora(funcionSeleccionada!.time) }} hs</p>
                <p id="list-butacas"><b>Entradas:</b> {{ compra?.seats }}</p>                
                <p><b>Precio:</b> ${{ compra?.unitPrice }}</p>
                <p><b>Total a Pagar:</b> ${{ calcularTotal() }}</p>
            </div>

            <div class="terminos-container">
                <h4 class="font-open-sans">Confirmar Operación</h4>

                <label class="radio-option">
                    <input type="radio" name="tipo" value="compra" [(ngModel)]="confirmacion" /> Acepto terminos y condiciones. Una vez realizada la compra, la transacción no puede ser revertida.</label>
            </div>

            @if (usuarioLogueado) {
            <small class="texto-secundario">
                Serás redirigido al entorno seguro de Mercado Pago. Muchas gracias por su compra.
            </small>
            } @else {
            <div class="alerta-login">
                <p><b>Debes iniciar sesión</b> para continuar con la compra.</p>
                <button class="btn-login" (click)="redirigirALogin()">Iniciar Sesión</button>
            </div>
            }
        </div>
    </section>


    <aside class="banner">
        <div class="btns-ticket font-inter">
        
            <button
                id="btn-step"
                class="btn-pago"
                (click)="iniciarPago()"
                [disabled]="!usuarioLogueado || confirmacion !== 'compra'">
                <img
                id="img-btn"
                src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.20.1/mercadopago/logo__small.png"
                alt="Mercado Pago"
                />
                FINALIZAR
            </button>
            <div id="wallet_container"></div>

            @if (!usuarioLogueado) {
                <div class="alerta-login">
                    <p><b>Debes iniciar sesión</b> para continuar con la compra.</p>
                    <button class="btn-login" (click)="redirigirALogin()">Iniciar Sesión</button>  
                </div>
            }

            <button id="btn-back" class="" (click)="volverAtras()">ATRÁS</button>
        </div>
    </aside>
</main>
