.div-operacion {
    background: #111;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    width: 70%;
}

.resumen-compra p {
    margin: 0.3rem 0;
}

.tipo-operacion {
    margin-top: 1.5rem;
}

.radio-option {
    display: block;
    margin: 0.5rem 0;
}

.btn-pago {
    margin-top: 1.5rem;
    background-color: #ffcc00;
    color: #111;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.img-btn{
    height: 20px;
}

.alerta-login {
    background-color: #ffcccc;
    color: #111;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1.5rem;
}

.texto-secundario {
    display: block;
    margin-top: 0.5rem;
    color: #ccc;
    font-size: 0.9rem;
}
main {
    margin-top: -60px;
}

.ticket-info {

    display: flex;
    justify-content: end;
    align-items: end;
    gap: 3em;

    color: #fff;
    width: 100%;
    border-bottom: 2px solid #fff;
    padding: 5px 25px;

    font-size: 1.4rem;
}

.color {
    color: rgb(255, 228, 78);
}

.step {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;

    margin-bottom: -2px;

    font-size: 2.5rem;
    font-weight: lighter;
}

.step-num {
    margin-bottom: -8px;

    font-size: 4rem;
    font-weight: normal;
}

/* SECCION DE INFO Y MAPA BUTACAS -------------------------------------------------------------------- */

.ticket-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 3em 3em 0 3em;
}

/* DIV DE INFO TICKET -------------------------------------------------------------------- */

.div-info {
    background-color: #fff;
    min-height: 350px;
    width: 250px;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    text-align: center;
}

.info-title {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.info-peli {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(156, 156, 156);
    font-size: 0.9rem;
}

.info-peli .title-peli {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.num-butacas {
    font-size: 2rem;
}

.info-colores {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.info-color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color {
    height: 15px;
    width: 15px;
    border-radius: 50px;
}

.c-1 {
    background-color: #000000; /* Negro - Butaca Disponible */
}

.c-2 {
    background-color: #4CAF50; /* Rojo - Butaca Elegida */
}

.c-3 {
    background-color: #ff4d4d; /* Rojo - Butaca Ocupada */
}

.btn-reiniciar {
    padding: 10px 10px;
    color: #f0f0f0;
    background-color: #ff4d4d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-reiniciar:hover {
    color: #f0f0f0;
    background-color: #ff9292;
}


/* BANNER -------------------------------------------------------------------- */

.banner {
    width: 100%;
    height: 125px;

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
}

.btns-ticket {
    position: absolute;
    right: 75px;

    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 5px;
}

#btn-step {
    width: 225px;

    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    background-color: rgb(255, 228, 78);
    color: #000000;

    font-weight: 700;
    font-size: 1.1rem;

    transition: all 0.2s;
}

#btn-step:hover {
    background-color: rgb(255, 233, 108);
    color: #221c29;
    box-shadow: 0 0 20px rgba(255, 228, 78, 0.85);
}

#btn-back {
    width: 225px;

    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-weight: 600;
    font-size: 0.95rem;
}

.div-error {
    color: #ff4d4d;
}

.error-message {
  color: red;
  font-weight: bold;
}