<header>
    <div class="container">
        <div class="logo">
            <img src="/img/logo/logo.png" alt="Logo cine">
        </div>
        <nav>
            <div class="menu">
                <ul class = "list">
                    <li> <a routerLink = "/"> Inicio</a> </li>
                    <li> <a routerLink = "/billboard"> Cartelera</a> </li>
                    <li> <a routerLink = "/cinemas"> Cines</a> </li>
                    <li> <a routerLink = "/login"> Iniciar sesion</a> </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
