main {
    margin-top: -60px;
}

.ticket-info {

    display: flex;
    justify-content: end;
    align-items: end;
    gap: 3em;

    color: #fff;
    width: 100%;
    border-bottom: 2px solid #fff;
    padding: 5px 25px;

    font-size: 1.4rem;
}

.color {
    color: rgb(255, 228, 78);
}

.step {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;

    margin-bottom: -2px;

    font-size: 2.5rem;
    font-weight: lighter;
}

.step-num {
    margin-bottom: -8px;

    font-size: 4rem;
    font-weight: normal;
}

/* SECCION DE INFO Y MAPA BUTACAS -------------------------------------------------------------------- */

.ticket-section {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2em;
    margin: 3em 3em 0 3em;
}

/* DIV DE INFO TICKET -------------------------------------------------------------------- */

.div-info {
    background-color: #fff;
    min-height: 350px;
    width: 250px;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;

    text-align: center;
}

.info-title {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.info-peli {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(156, 156, 156);
    font-size: 0.9rem;
}

.info-peli .title-peli {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.cinema-funcion {
    font-size: 1.7rem;
}

.title-butacas {
    color: #464646;
    font-size: 0.8rem;
}

.num-butacas {
    font-size: 2rem;
}

.subtitle-butacas {
    color: #464646;
    font-size: 0.8rem;
}

.info-colores {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.info-color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color {
    height: 15px;
    width: 15px;
    border-radius: 50px;
}

.c-1 {
    background-color: rgb(150, 150, 150);
    border: 1px solid rgb(77, 77, 77);
    /* Negro - Butaca Disponible */
}

.c-2 {
    background-color: #4CAF50;
    border: 1px solid rgb(67, 99, 64);
    /* Rojo - Butaca Elegida */
}

.c-3 {
    background-color: #ff4d4d;
    border: 1px solid rgb(105, 60, 60);
    /* Rojo - Butaca Ocupada */
}

.btn-reiniciar {
    padding: 10px 10px;
    color: #f0f0f0;
    background-color: #ff4d4d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-reiniciar:hover {
    color: #f0f0f0;
    background-color: #ff9292;
}


/* DIV DE SALA CON MAPA DE BUTACAS -------------------------------------------------------------------- */

.div-sala {
    background-color: rgb(37, 37, 37);
    min-height: 400px;
    border-radius: 5px;
    padding: 1em 3em 2em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.div-pantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-pantalla {
    color: #fff;
}

.pantalla {
    background-color: #f0f0f0;
    width: 500px;
    height: 20px;
}

.div-butacas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.butaca {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.2s ease;
}

/* 1. Butacas Ocupadas (Rojo) */
.ocupada {
    background-color: #ff4d4d;
    /* Rojo */
    border-color: #ffa3a3;
    cursor: not-allowed;
    pointer-events: none;
    /* Deshabilita clics e interacción */
}

/* 2. Butacas Seleccionadas (Verde) */
.seleccionada {
    background-color: #4CAF50;
    /* Verde */
    border-color: #c5ffc0;
}

/* 3. Butacas Disponibles (Base: Blanco/Gris) */
.disponible {
    background-color: rgb(138, 138, 138);
    border-color: #ffffff;
}

/* 4. Efecto Hover (Azul) - Se aplica SÓLO si está disponible */
.disponible:hover {
    background-color: #3978ff !important;
    /* Azul */
    border: 1px solid #87adff;
    transform: scale(1.1);
}

.fila-butacas {
    display: flex;
    align-items: center;
}

.etiqueta-fila {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
    display: inline-block;
    /* ajustá según tu diseño */
    width: 10px;
    /* centra la letra */
    text-align: center;
    /*  hace que todas las letras ocupen lo mismo */
    font-family: monospace;
}

/* BANNER -------------------------------------------------------------------- */

.banner {
    width: 100%;
    height: 125px;

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
}

.btns-ticket {
    position: absolute;
    right: 75px;

    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 5px;
}

#btn-step {
    width: 225px;

    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    background-color: rgb(255, 228, 78);
    color: #000000;

    font-weight: 700;
    font-size: 1.1rem;

    transition: all 0.2s;
}

#btn-step:hover {
    background-color: rgb(255, 233, 108);
    color: #221c29;
    box-shadow: 0 0 20px rgba(255, 228, 78, 0.85);
}

#btn-back {
    width: 225px;

    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-weight: 600;
    font-size: 0.95rem;
}

.div-error {
    color: #ff4d4d;
    font-size: 0.75rem;
}

.error-message {
    color: red;
    font-weight: bold;
}

/* MODAL DE LOGIN --------------------------------------------- */
/* Fondo oscuro */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Caja del modal */
.modal-box {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8) 0%,
            /* negro translúcido arriba */
            rgba(0, 0, 0, 0.7) 70%,
            /* mantiene la opacidad */
            rgba(179, 0, 0, 0.6) 100%
            /* rojo translúcido abajo */

        );
    color: white;
    padding: 25px 30px;
    border: 1px solid #fff9f9;
    border-radius: 20px;
    width: 90%;
    max-width: 360px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    animation: fadeIn .25s ease-out;
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.modal-text {
    font-size: 15px;
    margin-bottom: 20px;
}

/* Botón login */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 228, 78);
    color: #000000;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-login:hover {
    background-color: rgb(255, 233, 108);
    color: #221c29;
    box-shadow: 0 0 20px rgba(255, 228, 78, 0.85);
}

.btn-login:hover:not(:disabled) {
    color: #221c29;
    background-color: rgb(255, 233, 108);
}

.btn-login:disabled {
    /*opacity: 0.5;*/
    cursor: default;
}

/* Spinner */
.spinner {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: black;
    animation: spin 0.6s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* RESPONSIVE TABLETS ------------------------------------------------------*/
@media (max-width: 1100px) {

    /* SECCION DE INFO Y MAPA BUTACAS -------------------------------------------------------------------- */
    .ticket-section {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column-reverse;
        gap: 2em;
        margin: 3em 3em 0 3em;
    }

    .div-sala {
        width: 95vw;
        border-radius: 5px;
    }

    /* ASIDE INFO PELICULA (VER MAS) --------------------------------------------------------------- */
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 20px;
    }

    /* BOTONES (SIGUIENTE) - (VOLVER)*/
    .btns-ticket {
        width: 75%;
        right: 0;
        position: relative;
        gap: 10px;
    }
}

/* RESPONSIVE CELULAR ------------------------------------------------------*/
@media (max-width: 700px) {

    main {
        margin-top: -50px;
    }

    /* SECTION "SELECCIONA TU PELICULA - PASO 1" ------------------------------------------------ */
    .ticket-info {
        gap: 0;
        padding: 5px 5px;
        font-size: 1.25rem;
    }

    .step {
        gap: 0;
        margin-bottom: -2px;
        font-size: 1.75rem;
    }

    .step-num {
        margin-bottom: -8px;
        font-size: 3.5rem;
    }

    /* SECCION DE INFO Y MAPA BUTACAS -------------------------------------------------------------------- */

    .ticket-section {
        gap: 1em;
        margin: 1em 0 0.5em 0;
    }

    /* DIV DE INFO TICKET -------------------------------------------------------------------- */

    .div-info {

        border-radius: 5px;
        width: 80%;
    }

    .info-title {
        padding-bottom: 10px;
        font-size: 1.5rem;
    }

    .info-peli {
        padding-bottom: 15px;
        font-size: 0.9rem;
    }

    .info-peli .title-peli {
        font-size: 1.7rem;
        margin-bottom: 8px;
    }

    .info-peli .funcion-peli {
        font-size: 1.1rem;
    }

    .cinema-funcion {
        font-size: 2rem;
    }

    .title-butacas {
        font-size: 0.8rem;
    }

    .num-butacas {
        font-size: 2rem;
    }

    .subtitle-butacas {
        font-size: 0.9rem;
    }

    .color {
        height: 15px;
        width: 15px;
        border-radius: 50px;
    }

    .btn-reiniciar {
        padding: 10px 50px;
        border-radius: 50px;
    }

    /* DIV DE SALA CON MAPA DE BUTACAS -------------------------------------------------------------------- */
    .div-sala {
        gap: 1em;
        width: 95vw;
        border-radius: 5px;

    }

    .div-pantalla {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pantalla {
        width: 300px;
        height: 10px;
    }

    .div-butacas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .butaca {
        width: 25px;
        height: 25px;
        border: 1px solid #ccc;
        margin: 5px;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        transition: all 0.2s ease;

        width: 12px;
        height: 12px;
        margin: 3px;
        border-radius: 2px;
    }

    /* ASIDE INFO PELICULA (VER MAS) --------------------------------------------------------------- */
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 20px;
    }

    /* BOTONES (SIGUIENTE) - (VOLVER)*/
    .btns-ticket {
        width: 90%;
        right: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #btn-step {
        width: 100%;
    }

    #btn-back {
        width: 100%;
    }

}