<header>
    <div class="container font-inter">
        <div class="logo">
            <img src="/img/logo/logo.png" alt="Logo cine">
        </div>
        <nav>
            <div class="menu">
                <ul class = "list">
                    <li> <a routerLink = "/">Inicio</a> </li>
                    <li> <a routerLink = "/ticket/step1">Comprar</a> </li>
                    <li> <a routerLink = "/adminMovies">Cartelera</a> </li>
                    <li> <a routerLink = "/adminSalas">Salas</a> </li>
                    <li> <a routerLink = "/adminFunciones">Funciones</a> </li>
                    <li class="btnLogin"> <a (click)="onLogout()" routerLink="/">Cerrar Sesión</a></li>
                    
                </ul>
            </div>
        </nav>
    </div>
</header>
