<main>
    <section id="carrucelPrincipal">

        <div class="imagen-contenedor">

            <!-- Imagen de fondo (pantalla de cine) -->

            <img id="pantalla" src="img/home/PantallaCine.png" alt="Pantalla de cine">

            <!-- Carrusel encima -->
            <div id="bannerCarrusel">
                @for (movie of movieService.moviesCartelera ; track $index) {
                <img [src]="movie.bannerUrl" [class.mostrar]="indiceActual === $index" alt="movie.title">
                }

                <div class="info-pelicula">
                    <p class="titulo">{{ movieService.moviesCartelera[indiceActual]?.title }}</p>
                    <button class="btn-info" (click)="verDetalles(movieService.moviesCartelera[indiceActual]?.id)">Más
                        info</button>
                </div>

                <button class="anterior" (click)="anterior()">&#10094;</button>
                <button class="siguiente" (click)="siguiente()">&#10095;</button>
            </div>


        </div>
    </section>


    <section id="proximosEstrenos">
        <h2>PRÓXIMOS ESTRENOS</h2>

        <div class="carrusel-container">
            <button class="flecha izquierda" (click)="moverIzquierda()">&#10094;</button>

            <div class="carrusel" #carrusel>

                @if (upcomingMovies.length === 0) {

                <p>No hay películas próximas a estrenar</p>

                } @else {
                @for (movie of upcomingMovies; track $index) {
                <div class="pelicula" (click)="verDetalles(movie.id)">
                    <img [src]="movie.posterUrl" [alt]="movie.title" class="poster">
                    <div class="overlay">
                        <button>Ver detalle</button>
                    </div>
                    <p>{{ movie.title }}</p>
                </div>
                }
                }
            </div>


            <button class="flecha derecha" (click)="moverDerecha()">&#10095;</button>
        </div>
    </section>

</main>