main {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-info {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 3em;
  color: #fff;
  width: 100%;
  border-bottom: 2px solid #fff;
  padding: 5px 25px;

  font-size: 1.4rem;
}

.color {
  color: rgb(255, 228, 78);
}

.step {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;

  margin-bottom: -2px;

  font-size: 2.5rem;
  font-weight: lighter;
}

.step-num {
  margin-bottom: -8px;

  font-size: 4rem;
  font-weight: normal;
}

.galeria {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  overflow: hidden;
  padding: 25px 0 0 0;

}

.lista-pelis {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  position: absolute;
  width: 200px;
  height: 320px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;

  left: calc(50% - 100px);
  top: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: cover;
  /* Escala la imagen para cubrir todo el <li> */
  background-position: center;
  /* Centra la imagen en el <li> */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */

  transition: transform 0.6s ease, opacity 0.6s ease, filter 0.6s ease;
  will-change: transform, opacity;
}

.item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.item h3 {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #222;
}

#next,
#prev {
  position: absolute;
  top: 40%;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

#prev {
  left: 50px;
}

#next {
  right: 50px;
}

.banner {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.about-peli {
  color: #fff;
  text-align: center;
  width: 500px;
  font-size: 0.9rem;
}

#btn-ver {
  cursor: pointer;
  background-color: rgb(117, 67, 158);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 75px;
  margin: 10px 0 0 0;

  font-size: 1.1rem;

  transition: all 0.2s;
}

#btn-ver:hover {
  background-color: rgb(194, 120, 255);
  color: #fff;
}

.btns-ticket {
  position: absolute;
  right: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

#btn-step {
  width: 225px;

  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: rgb(255, 228, 78);
  color: #000000;

  font-weight: 700;
  font-size: 1.1rem;

  transition: all 0.2s;
}

#btn-step:hover {
  background-color: rgb(255, 233, 108);
  color: #221c29;
  box-shadow: 0 0 20px rgba(255, 228, 78, 0.85);
}

#btn-back {
  width: 225px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-weight: 600;
  font-size: 0.95rem;
}