<main>
  <section class="ticket-info font-open-sans">
    <h1 class="info">
      <span class="color">SELECCIONA</span> TU <span class="color">PELICULA</span>
    </h1>
    <h1 class="step">PASO <span class="step-num">1</span></h1>
  </section>

  <section class="galeria-section">
    <ul class="lista-pelis">
      @if (ticketService.peliculas.length) {
        @for (peli of ticketService.peliculas; track $index) {
          <li
            class="item"
            #item
            [style.backgroundImage]="'url(' + peli.posterUrl + ')'"
            [attr.aria-label]="peli.title">
          </li>
        }
      } @else {
        <li>No hay funciones proximas a la fecha..</li>  
      }
      
      <button id="prev" (click)="prevSlide()"><</button>
      <button id="next" (click)="nextSlide()">></button>
    </ul>
  </section>

  <aside class="banner font-inter">
    <div class="about-peli">
      <h1 class="title-peli">{{ ticketService.peliculaSeleccionada?.title }}</h1>
      <p class="description-peli">{{ displayedDescription }}</p>
      <button id="btn-ver" (click)="verDetalles()">Ver más</button>
    </div>

    <div class="btns-ticket font-inter">
      <button id="btn-step" (click)="confirmarPaso1()">SIGUIENTE</button>
      <button id="btn-back" (click)="volverAtras()">ATRÁS</button>
    </div>
  </aside>
</main>