/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main{
  padding-top: 120px; /* espacio para dejar lugar al header*/
  min-height: 100dvh;
  margin: 0;
  background-color: #000;
  background-image:
    linear-gradient(to top,
      rgba(0,0,0,0.95) 0%,
      rgba(0,0,0,0.85) 20%,
      rgba(0,0,0,0.55) 55%,
      rgba(0,0,0,0.20) 80%,
      rgba(0,0,0,0.00) 100%
    ),
    linear-gradient(to bottom,
      rgba(0,0,0,0.95) 0%,
      rgba(0,0,0,0.75) 25%,
      rgba(0,0,0,0.00) 60%
    ),
    url("/img/home/background.png");


 background-position: center 90%, center top, center 90%;
  background-size: cover, cover, cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#toast-container > div {
  position: fixed; 
  z-index: 99999; 
  bottom: 20px;  
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.95; 
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 

  transition: all 0.3s ease-in-out;
  padding: 15px; 
  max-width: 350px; 
}

#toast-container > div:hover {
  opacity: 1;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.toast-title {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.toast-message {
  font-size: 0.95em;
  line-height: 1.4;
}

.toast-success {
  background-color: #28a745 !important; 
  color: #ffffff; 
  border: 1px solid #218838; 
}

.toast-error {
  background-color: #dc3545 !important; 
  color: #ffffff;
  border: 1px solid #c82333; 
}