<main>
  <section class="ticket-info font-open-sans">
    <h1 class="info"><span class="color">ELIGE</span> EL <span class="color">DÍA</span> Y <span
        class="color">HORARIO</span></h1>
    <h1 class="step">PASO <span class="step-num">2</span></h1>
  </section>

  <section class="funciones-section">
    @if (peliculaSeleccionada; as peli) {
      <div class="div-img">
        <img [src]="peli.posterUrl" [alt]="peli.title">
      </div>
      <div class="div-tabla font-open-sans">
        <div class="titulo-peli">
          <h2>{{ peli.title }}</h2>
        </div>
        <div class="div-funciones">
            <h3>Elige tu FUNCIÓN preferida</h3>

            <ul class="funciones">
              @for (f of funciones; track f.id) {
                <li class="funcion" (click)="seleccionarFuncion(f)" 
                  [style.background]="f.id === funcionSeleccionada?.id ? '#007bff' : ''" 
                    [style.color]="f.id === funcionSeleccionada?.id ? 'white' : ''">
                      {{ formatearFecha(f.date) }} {{ formatearHora(f.time) }} — {{ f.cinemaName }}
                </li>
              }
            </ul>
        </div>
      </div>
    } @else {
      <div class="div-img">
        <img [src]="" [alt]="">
      </div>
      <div class="div-tabla font-open-sans">
        <div class="titulo-peli">
          <h2>Pelicula no disponible</h2>
        </div>
        <div class="div-funciones">
          <div class="div-dias">
            <h3>Elige tu FUNCIÓN preferida</h3>
            <div class="dias">
              No hay funciones disponibles..
            </div>
          </div>
        </div>
      </div>
    }
  </section>

  <aside class="banner font-inter">
    <div class="btns-ticket">
      <button id="btn-step" class=" " (click)="confirmarPaso2()">SIGUIENTE</button>
      <button id="btn-back" class=" " (click)="volverAtras()">ATRÁS</button>
    </div>
  </aside>
</main>